# .gitignore
## Custom Exceptions
### Preventing leaks of private list.tsv files
*.private.list.tsv
.private.list.tsv
*.private.*
.private.*
.private
private
## Example user template
### IntelliJ project files
.idea
*.iml
out
gen
